@media (min-width: 40rem) {
  .photo:is(:nth-child(12n + 2), :nth-child(12n + 7)) {
    grid-area: span 2 / span 2;
  }
}

.photo {
  border-radius: 0.2rem;
  cursor: pointer;
  display: grid;
  overflow: hidden;
}

.photo > div {
  grid-area: 1 / 1;
}
.views {
  grid-area: 1 / 1;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  display: none;
  font-size: 1rem;
}

.views::before {
  background: url('../../assets/visualizacao.svg') no-repeat;
  content: '';
  display: inline-block;
  height: 10px;
  width: 16px;
  margin-right: 0.25rem;
}

.photo:hover .views {
  display: flex;
  align-items: center;
  justify-content: center;
}
