.header {
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

.logo {
  padding: 0.5rem 0;
}

.login {
  color: #333;
  display: flex;
}

.login::after {
  background: url('../assets/usuario.svg') no-repeat center center;
  content: '';
  display: inline-block;
  margin-left: 0.5rem;
  height: 17px;
  width: 14px;
}
