.delete {
  background: #ddd;
  border: transparent solid 1px;
  border-radius: 0.4rem;
  cursor: pointer;
  font-family: var(--type-first);
  font-size: 0.875rem;
  line-height: 1;
  outline: none;
  padding: 0.3rem 0.6rem;
  transition: 0.1s;
}

.delete:focus,
.delete:hover {
  background: #fff;
  border-color: #333;
  box-shadow: 0 0 0 3px #eee;
}
