.login {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

.login::before {
  background: url('../../assets/login.jpg') no-repeat center center;
  background-size: cover;
  content: '';
  display: block;
}

.forms {
  align-self: center;
  max-width: 30rem;
  padding: 2rem 1rem 2rem 1rem;
}

@media (max-width: 40rem) {
  .login {
    grid-template-columns: 1fr;
  }

  .login::before {
    display: none;
  }

  .forms {
    max-width: 100%;
  }
}
